@import "mixins.scss";

#mat {
  &__kontener--obraz {
    width: auto;
    top: 36.5%;
    height: 32.5%;
    justify-content: space-between;
    @include responsive(1600) {
      & {
        top: 29%;
        height: 40%;
      }
    }
    @include responsive(1024) {
      & {
        top: 27%;
        height: 40%;
      }
    }
    @include responsive(600) {
      & {
        top: 25%;
        height: 45%;
      }
    }
    @include responsive(425) {
      & {
        top: 10%;
        height: 80%;
        width: 87%;
      }
      & .blok1-tytul {
        font-size: 1.8rem;
        margin: 14% 0 0 0;
      }
      & .blok1-text {
        font-size: 3.8rem;
        margin: 0 0 6.25% 0;
      }
    }
    @include responsive(390) {
      & .blok1-tytul {
        font-size: 1.65rem;
      }
      & .blok1-text {
        font-size: 3.2rem;
      }
    }
    @include responsive(330) {
      & .blok1-tytul {
        font-size: 1.45rem;
      }
      & .blok1-text {
        font-size: 2.8rem;
      }
    }
    // @include responsive(393) {
    //   & .blok1-tytul {
    //     font-size: 1rem;
    //   }
    //   & .blok1-text {
    //     font-size: 1.3rem;
    //   }
    // }
  }
}

.mat {
  &__mobile {
    &--obraz {
      display: none;
      @include responsive(425) {
        display: flex;
        & img {
          width: 50%;
          margin: 0;
        }
      }
    }
  }
  &__blok2--obraz {
    width: 100%;
    @include responsive(600) {
      padding-top: 4%;
    }
    @include responsive(425) {
      padding-top: 0;
    }
  }

  &--br {
    @include responsive(374) {
      & {
        display: none;
      }
    }
  }
  &--br2 {
    display: none;
    @include responsive(374) {
      & {
        display: block;
      }
    }
  }

  &__kontener3 {
    padding-bottom: 2vw;
    @include responsive(600) {
      padding: 0;
    }
  }
  &__kontener2 {
    @include responsive(600) {
      padding: 4% 0 4%;
      flex-direction: column-reverse;
    }
  }
  &__kontener {
    @include responsive(600) {
      & {
        padding: 4% 0 4%;
        flex-direction: column-reverse;
      }
    }
    @include responsive(425) {
      & {
        padding: 0;
      }
    }

    &--roslina {
      width: 20vw;
      align-self: flex-end;
      margin-bottom: -3vw;
      @include responsive(600) {
        display: none;
      }
    }
    &--blok {
      margin-bottom: 7vw;
      @include responsive(600) {
        & {
          margin: 6% 0 0;
        }
      }
      @include responsive(425) {
        & {
          margin: 4% 0 0;
        }
      }
    }
    &__padding {
      padding-top: 4%;
      @include responsive(600) {
        & {
          padding: 0;
        }
      }
    }
  }
}
